//-----------------------------------------------//
// Text Colors
//-----------------------------------------------//

$neutral-strong: #222;
$neutral-normal: #444;
$neutral-soft: #666;
$neutral-light: #999;
$neutral-lighter: #ddd;
$neutral-lightest: #ddd;

$red-light: #f00;
$red-dark: #500;

//-----------------------------------------------//
// Background Colors
//-----------------------------------------------//

$background-dark: #222;
$background-medium: #666;
$background-light: #eee;

