//-----------------------------------------------//
// Basic
//-----------------------------------------------//

img {
	max-width: 100%;
}

body {
	font-family: $base-font-family;
}


hr {
	border: 0;
	border-top: 1px $neutral-light solid;
	margin: 20px 0px;
} 

ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.content {
  ul {
    margin: 1em 0;
    list-style: disc;
    padding-left: 40px;

    &.no-style {
      margin: 0;
      list-style: none;
      padding: 0;
    }
  }
}