//-----------------------------------------------//
// Buttons
//-----------------------------------------------//

.button {
  @include border-radius(10px);
	cursor: pointer;
	display: inline-block;
  -webkit-font-smoothing: antialiased;
	padding: 8px 25px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}