//-----------------------------------------------//
// Containers
//-----------------------------------------------//

.container {
}

.section {
}

.window {
	width: 720px;
	position: relative;
	background: white;
	overflow: hidden;
}
.window-container {
	padding: 20px 15px;
}

.box {
}
