// Segundo guia de estilos
$blue_primary: #0066ff;
$blue_secondary: #267dff;

$yellow_strong: #ffab3c;
$yellow_primary: #ffae00;
$yellow_secondary: #ffba26;
$yellow_light: #ffecd6;
$yellow_dark: #a67d4c;

$red_primary: #cc0000;
$red_secondary: #d63333;
$red_light: #ffcccc;
$red_dark: #993333;

$green_primary: #006600;
$green_secondary: #267d26;
$green_light: #cdffd3;
$green_dark: #003300;

$gray_primary: #666666;
$gray_secondary: #999999;
$gray_border: #ddd;
$gray_lighter: #eee;
$gray_light: #999;
$gray_dark: #666;
$gray_darker: #333;

//-----------------------------------------------//
// Fonts
//-----------------------------------------------//

$text_normal: 16px;
$text_big: 24px;
$button_normal: 18px;
$button_big: 28px;
$header_normal: 18px;
$title_h1: 30px;
$title_h2: 24px;
$title_h3: 20px;

