<header>
  <div class='logo-main'>
    <%= image_tag 'logo.png' %>
  </div>

  <nav class='nav-main'>
  <ul class='navbar'>
    <li>
      <%#= link_to 'home', root_path %>
    </li>
      <%#= link_to 'home', root_path %>
    </li>
  </ul>
  </nav>

  <div class="tools">
  </div>
</header>
